<table class="table table-hover">
  <thead>
    <th>Description</th>
    <th>Title</th>
    <th>Price</th>
    <th></th>
    <!-- Coluna para ação -->
  </thead>
  <tbody *ngFor="let product of products">
    <tr>
      <td>{{ product?.description }}</td>
      <td>{{ product?.title }}</td>
      <td>{{ product?.price }}</td>
      <td>
        <span class="float-right">
          <button
            (click)="editar(product._id)"
            class="btn btn-outline-success mb-1 mr-1 btn-sm"
          >
            <i class="material-icons md-24">border_color</i>
          </button>
          <button class="btn btn-outline-danger mb-1 btn-sm">
            <i class="material-icons md-24">delete_outline</i>
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<!-- [routerLink]="['/products/edit', product._id]" -->
